<div class="container mt-5 text-center">
  <select name="category" id="category" class="col-6 f4-3 border border-3">
    <option>類別</option>
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>
  <div class="d-flex justify-content-center">
    <div
      class="d-flex align-items-center justify-content-around mt-3 mb-3 col-8"
    >
      <div class="p-2 fs-4" id="totalAmountLabel">總金額：</div>
      <div class="p-2 fs-1 fw-bold" id="totalAmount">{{totalAmount}}</div>
    </div>
  </div>
  {{#each records}}
    <div class="row text-start fs-4 mb-2 d-flex align-items-center">
      <div class="col-2 text-end">
        {{{this.categoryIcon}}}
      </div>
      <div class="col-6 d-flex align-items-center">
        <div class="name flex-grow-1 d-flex flex-column">
          <div class="fs-3">{{this.name}}</div>
          <div class="fs-6" id="date">{{this.date}}</div>
        </div>
        <div class="price fs-2 fw-bold">{{this.amount}}</div>
      </div>
      <div class="col text-center">
        <a href="/records/{{this._id}}/edit" class="btn btn-success">修改</a>
      </div>
      <div class="col text-center">
        <a href="/records/{{this._id}}/delete" class="btn btn-danger">刪除</a>
      </div>
    </div>
  {{/each}}
</div>